<!DOCTYPE html>
<html lang="th">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Face Feature Web App - Compare Face</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <div class="container">
      <div class="nav-con">
        <div class="logo">
          <a href="/">Face Demo  |</a>
          <a href="/compare_face_page">|  CompareFace</a>
          <a href="/upload">||  Upload</a>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <h1>Compare Face</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('compare_face') }}">
      <div class="form-group">
        <label for="image1">เลือกรูปใบหน้าที่ 1:</label>
        <input type="file" id="image1" name="image1" required>
      </div>
      <div class="form-group">
        <label for="image2">เลือกรูปใบหน้าที่ 2:</label>
        <input type="file" id="image2" name="image2" required>
      </div>
      <button type="submit">เปรียบเทียบ</button>
    </form>
  </div>
  
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
